<div class="container">
  <table class="table table-striped table-bordered">
    <table>
      <tr>
        <th>Login</th>
        <th>Password</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Bank_Account_Number</th>
      </tr>
      <tr>
        <td>{{accountdetail$.login}}</td>
        <td>{{accountdetail$.password}}</td>
        <td>{{accountdetail$.name}}</td>
        <td>{{accountdetail$.surname}}</td>
        <td>{{accountdetail$.email}}</td>
        <td>{{accountdetail$.phone}}</td>
        <td>{{accountdetail$.bank_acc_number}}</td>
      </tr>
    </table>
  </table>
  <td><button  type="submit" class="btn btn-dark" (click)="deleteUser()">Usuń Konto</button></td>
  <td><button  type="submit" class="btn btn-dark" (click)="router.navigate(['account-update'])">Zaktualizuj Dane Konta</button></td>
</div>
